<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/stickers/party.png" type="image/x-icon">
    <title>Mrunali's Birthday: Loading...!</title>
    <link rel="stylesheet" href="../css/countdown1.css">
</head>
<body>
    <div id="count-down-one">
        <div class="container">
            <div class="birthday-container">
                <p>Birthday Bash</p>
            </div>
            <div class="timer-container">
                <div class="time-box" id="days"></div>
                <div class="time-box" id="hours"></div>
                <div class="time-box" id="mins"></div>
            </div>
            <div class="msg">
                <p>Excitement is in the Air!</p>
                <p>Get Ready for the Celebration, Your Birthday Is on the Horizon!</p>
            </div>
        </div>
    </div>

    <div id="frame-one">
        <img src="../../assets/bg_images/photo-frame-1.png" alt="frame" height="400px">
    </div>
    <img src="../../assets/imgs/img1.jpeg" alt="img1" id="photo1">

    <div id="frame-two">
        <img src="../../assets/bg_images/photo-frame-1.png" alt="frame" height="300px">
    </div>
    <img src="../../assets/imgs/img2.jpeg" alt="img1" id="photo2">

    <div id="frame-three">
        <img src="../../assets/bg_images/photo-frame-1.png" alt="frame" height="400px">
    </div>
    <img src="../../assets/imgs/img3.jpeg" alt="img1" id="photo3">

    <div id="frame-four">
        <img src="../../assets/bg_images/photo-frame-1.png" alt="frame" height="300px">
    </div>
    <img src="../../assets/imgs/img4.jpeg" alt="img1" id="photo4">

    <script src="../js/countdown1.js"></script>
</body>
</html>