<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/stickers/party.png" type="image/x-icon">
    <title>Mrunali's Birthday: Loading...!</title>
    <link rel="stylesheet" href="../css/countdown1.css">
</head>
<body>
    <div id="count-down-one">
        <div class="container">
            <div class="birthday-container">
                <p>Birthday Bash</p>
            </div>
            <div class="timer-container">
                <div class="time-box" id="days"></div>
                <div class="time-box" id="hours"></div>
                <div class="time-box" id="mins"></div>
            </div>
        </div>
        <audio autoplay loop src="../../assets/audios/ticking-clock_1-27477.mp3"></audio>
    </div>

    <script src="../js/countdown1.js"></script>
</body>
</html>