<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/stickers/confetti.png" type="image/x-icon">
    <title>Happy Birthday Mrunu ♥!!</title>
    <link rel="stylesheet" href="../css/wisht.css">
</head>
<body>
    <div id="wish-container">

        <h1 id="wish-heading">Happy Birthday Mrunali 🎉🎂❤️</h1>
        <p id="wish">
            Happy Birthday to the love of my life! Words can't express how grateful I am to have you by my side, sharing laughter, dreams, and adventures. You bring so much joy and warmth into my life every single day. May this special day be filled with endless smiles, unforgettable moments, and all the happiness you deserve. Here's to celebrating you today and every day. I love you more than words can say. ❤️</p>
        
        <!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/011/236/426/small_2x/confetti-and-luxury-pink-balloon-birthday-celebration-border-free-png.png" alt="ballons" class="ballons"> -->
    </div>
</body>
</html>