<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/stickers/confetti.png" type="image/x-icon">
    <title>Happy Birthday Mrunu ♥!!</title>
    <link rel="stylesheet" href="../css/wisht.css">
</head>
<body>
    <div id="wish-container">

        <h1 id="wish-heading">Happy Birthday Mrunali 🎉🎂❤️</h1>
        <p id="wish">
            Happy Birthday to the love of my life! Words can't express how grateful I am to have you by my side, sharing laughter, dreams, and adventures. You bring so much joy and warmth into my life every single day. May this special day be filled with endless smiles, unforgettable moments, and all the happiness you deserve. Here's to celebrating you today and every day. I love you more than words can say. ❤️</p>
        
        <!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/011/236/426/small_2x/confetti-and-luxury-pink-balloon-birthday-celebration-border-free-png.png" alt="ballons" class="ballons"> -->

        <div id="our-story">
            <div class="main-box">
                <div class="box">
                    <img src="../../assets/imgs/1.jpeg" alt="" height="200px">
                    <p>Your First Photo in my phone</p>
                    <p>22 September 2022</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/2.jpeg" alt="" height="200px">
                    <p>Local Memories Thane - Nerul</p>
                    
                    <p>22 September 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/3.jpeg" alt="" height="200px">
                    <p>L2023 Valentine's Day</p>
                    
                    <p>14 Feb 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/4.jpeg" alt="" height="200px">
                    <p>Holi 2023</p>
                    
                    <p>6 March 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/5.jpeg" alt="" height="200px">
                    <p>Memory Day</p>
                    
                    <p>19 April 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/6.jpeg" alt="" height="200px">
                    <p>Marine Talks</p>
                    
                    <p>19 May 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/7.jpeg" alt="" height="200px">
                    <p>Sidhivinayak</p>
                    
                    <p>18 July 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/8.jpeg" alt="" height="200px">
                    <p>Girlfriend Day</p>
                    
                    <p>1 August 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/9.jpeg" alt="" height="200px">
                    <p>Zoo Bhaykhala</p>
                    
                    <p>12 August 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/10.jpeg" alt="" height="200px">
                    <p>Ganesh Darshan</p>
                    
                    <p>24 Sep 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/11.jpeg" alt="" height="200px">
                    <p>Navratri -Thane</p>
                    
                    <p>23 October 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/12.jpeg" alt="" height="200px">
                    <p>Christmas</p>
                    
                    <p>25 December 2023</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/13.jpeg" alt="" height="200px">
                    <p>Farmhouse Trip</p>
                    
                    <p>27 January 2024</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/14.jpeg" alt="" height="200px">
                    <p>Holi 2024</p>
                    
                    <p>24 March 2024</p>
                </div>
                <div class="box">
                    <img src="../../assets/imgs/15.jpeg" alt="" height="200px">
                    <p>Birthday Prep</p>
                    
                    <p>3 April 2024</p>
                </div>
                <!-- <div class="box special-box" style="width: 60%; height: calc(254px); margin-left: 240px;">
                    <img src="../../assets/imgs/birthdaystrip.jpg" alt="">
                </div> -->
            </div>
            
        </div>
    </div>
</body>
</html>